<footer>
    <ul>
        <li>
            <a href="https://www.xing.com/profile/Zhuo_Wang19/cv" target="_blank" class="social-icons">
                <i class="icon ion-logo-xing"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/zhuo-wang-baab60183/" target="_blank" class="social-icons">
                <i class="icon ion-logo-linkedin"></i>
            </a>
        </li>
    </ul>
    <p>&copy; 2019. Created by {{name}}</p>
</footer>